<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Benard Gachanja on 10/13/20 5:23 PM
  ~ Copyright (c) 2020 . Spiking Acacia.  All rights reserved.
  ~ Last modified 10/11/20 9:47 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spikingacacia.leta">

    <application
        android:name=".ui.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.main.home.ArrangeMenuActivity"/>
        <activity android:name=".ui.main.home.EditGroupActivity" />
        <activity android:name=".ui.main.home.AddGroupActivity" />
        <activity android:name=".ui.main.home.AddCategoryActivity" />
        <activity android:name=".ui.main.home.EditCategoryActivity" />
        <activity android:name=".ui.tasty.AddTastyBoardActivity" />
        <activity android:name=".ui.tasty.TastyBoardActivity" />
        <activity android:name=".ui.main.wallet.WalletActivity" />
        <activity android:name=".ui.main.home.AddItemActivity" />
        <activity android:name=".ui.main.home.EditItemActivity" />
        <activity android:name=".ui.main.HostActivity" />
        <activity android:name=".ui.qr_code.QrCodeActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.LoginActivity" />
        <activity android:name=".ui.board.BoardA" />
        <activity android:name=".ui.waiters.WaitersActivity" />
        <activity
            android:name=".ui.reports.SRReportsA"
            android:label="@string/title_activity_srreports" />
        <activity android:name=".ui.orders.OrdersActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MapsA"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/launcher" />
        <!--
        This is required if the app targets api level 28(android 9.0) or above and uses the google maps sdk
        for android 16.0.0 or below (or if the app uses the apache http legacy library)
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <service android:name=".ui.OrdersService" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <service
            android:name=".ui.util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END fcm_default_channel] -->
        <!-- [START firebase_service] -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>